html {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
}

button {
    width: 100px;
    background-color: grey;
    border-style: outset;
    border-color: white rgb(168, 168, 168) black white;
    border-width: 2px;
    margin: 5px;
    
}

button:active {
    border-style: inset;
    border-width: 3px;
    background-color: rgb(168, 168, 168);
}

.button-set {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

#header-style {
    background-color: blue;
    color: white;
    position: relative;
    bottom: 16px;
    padding: 5px;
}

.window-piece {
    background-color: grey;
    margin: auto;
    width: 75%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: outset;
    margin-bottom: 20px;
    /* padding: 2%; */
}

.hidden {
    display: none;
}

.category-line {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.inner-block {
    margin: auto;
}

#theme-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}